<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <style>
        h3{text-align: center;}
        h2{text-align: center;}
        a{text-align: center;}
    </style>
    <title><%= title %></title>
</head>
<body>
    <nav class="p-6 bg-black">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <p class="flex items-center">
            <span class="self-center text-xl font-semibold whitespace-nowrap text-white">Online Voting</span>
          </p>
        </div>
      </nav>
    <h2 class="text-4xl my-4 "><%= title %></h3>
    <h2 class="text-3xl my-4 ">Vote for below Questions...</h3>
        <form action="/election/<%= publicurl %>" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="flex-auto">
                <div class="mx-4">
                    <div class="grid grid-cols-6">
                        <div class="col-start-3 col-span-2">
                            <% for (let i=0; i<Questions.length; i++) { %>
                                <div>
                                    <h5 class="text-3xl my-2"><%= i+1 %>. <%= Questions[i].questionname %></h5>
                                    <p class="text-gray-600">Description : <%= Questions[i].description %></p>
                                    <div class="pt-3 pl-5">
                                        <% for (let j=0; j<options[i].length; j++) { %>
                                          <div class="flex gap-2">
                                            <input type="radio" id="<%= options[i][j].id %>" class="cursor-pointer" name="q-<%= Questions[i].id %>" value="<%= options[i][j].id %>" required/>
                                <label for="<%= Questions[i].id %>-<%= options[i][j].id %>"><%= options[i][j].option %></label>
                            </div>
                         <% } %>
                    </div>
                </div>
              <% } %> 
              <br>
              <button type="submit" class="bg-black rounded w-fit px-2 py-1 hover:bg-black text-white">Submit</button>
          </div>
        </div>
    </div>
</div>
 </form>    
 <% if(messages && messages.error && messages.error.length > 0)  { %>
    <% for(var i=0; i<messages.error.length; i++) { %>
      <p class="bg-red-200 my-3 list-none rounded px-4 py-2"><%= messages.error[i] %></p>
    <% } %>
<% } %> 
</body>
</html>